#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#welcome-section h1 {
    text-align: center;
}
@media (max-width: 767.98px) { 
    #welcome-section{
        background-color: brown;
        color: #fff;
    }
 }
